<div class="signinPage text-center h-100">
  <div class="top-space"></div>
    <form [formGroup]="reactiveForm" class="form-signin " (ngSubmit)="onSubmit()">
      <img class="form-image mb-4" src="assets/logocoolectorv1.png" alt="Coolector Logo" width="300" height="172">
      <h1 class="h3 mb-3 font-weight-normal">Welcome!<br>Please sign in</h1>
      

      <!--email input-->
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" formControlName="reactiveEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <div class="signIn-error-message" style="width: 300px; height: 25px">
        @if (emailIsInvalid && emailErrors) {
          <p class="control-error">{{ emailErrors }}</p>}
      </div>
        
      

      <!--Password input-->
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" formControlName="reactivePassword" class="form-control" placeholder="Password" required="">
      <div class="signIn-error-message" style="width: 300px; height: 60px">
      @if (passwordIsInvalid && passwordErrors) {
        <p class="control-error">{{ passwordErrors }}</p>}
      </div>

      <div class="checkbox mb-3"> 
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <div class="signIn-error-message" style="width: 300px; height: 50px">
        @if (emailIsInvalid || passwordIsInvalid && signInErrors) {
          <p class="error-singIn-msg">{{ signInErrors }}</p>
        }
      </div>

      <div class="no-account-yet">
        <a href="" (click)="newSignUp($event)">I don't have an account yet.</a>
        <!-- <button href="" (click)="newSignUp($event)">I don't have an account yet.</button> -->
      </div>
      

      <p class="mt-5  text-muted">By: Group 2 - IST 440 - Penn State</p>
    </form>

    <div class="bottom-space"></div>
</div>