<div class="bankPage">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <h2 class="BoA Title text-center">{{ bankName }} Simulator</h2>
        <p class="text-center">Lookup your debt using your client ID 🔎</p>

        <!-- Input field for customer ID, otherwise called the paying customer -->
        <div class="customerID">
            <label for="customerID">Customer ID</label>
            <input id="customerID" name="customerID" formControlName="customerID" />
        </div>

        <p class="lookupButton">
            <button class="button">Look Up</button>
        </p>

        <div class="table-responsive small">
            <table class="table table-striped table-sm">

                <!-- Table Headers -->
                <thead>
                    <tr>
                        <th scope="col">
                            <div class="checkbox"> 
                              <label>
                                <input type="checkbox">
                                <!-- <input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"> -->
                              </label>
                            </div>
                        </th>
                        <th>Client's Name</th>
                        <th>Amount</th>
                        <th>Exp Date</th>
                    </tr>
                </thead>

                <!-- Table's Body -->
                <tbody>
                    <tr *ngFor="let row of tableData()">
                        <td>
                            <div class="checkbox mb-1"> 
                              <label>
                                <!-- Bind each row checkbox to its own selected state -->
                                <input type="checkbox">
                                <!-- <input type="checkbox" [(ngModel)]="row.selected" (change)="updateSelectAllState()"> -->
                              </label>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    

                    <!-- Display this row if there is no data, this row only appears if the table's data's length is zero-->
                    <tr *ngIf="tableData().length === 0">
                        <td colspan="4">No info available</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <!-- End of table div -->

        <p class="payButton">
            <button class="button">Pay Selected Debt</button>
        </p>

    </form>
</div>