<!--We render the app wide error from ErrorService 
on top of every other UI element if this error gets triggered
if the error() signal has a truthy value, it means it has been triggered-->
@if (error()) {
  <!--Make sure <app-error-modal /> is imported and added to the imports array of this component-->
  <!--Title is unbounded and not very significant here,
  but the message is bounded to a property of the error() signal-->
  <app-error-modal title="An error ocurred!" [message]="error()"/>
}

<ng-container *ngIf="isAuthenticated()">
<app-header/>
<div class="container-fluid">
  <div class="row">
    <!--SIDE BAR COMPONENT HERE-->
    <app-sidebar class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary"/>

    <!--MAIN CONTAINS: DASHBOARD, CHART, AND DATA TABLE-->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!--DASHBOARD COMPONENT HERE-->
      <app-dashboard />
    </main>
     
  </div>
</div>
</ng-container>

<router-outlet></router-outlet>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script><script src="dashboard.js"></script>
