<!--We render the app wide error from ErrorService 
on top of every other UI element if this error gets triggered
if the error() signal has a truthy value, it means it has been triggered-->
@if (error()) {
  <!--Make sure <app-error-modal /> is imported and added to the imports array of this component-->
  <!--Title is unbounded and not very significant here,
  but the message is bounded to a property of the error() signal-->
  <app-error-modal title="An error ocurred!" [message]="error()"/>
}



<router-outlet></router-outlet>

<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js" integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp" crossorigin="anonymous"></script><script src="dashboard.js"></script>
